/* CSS base */
html , body{-moz-user-select:none;/*火狐*/ -webkit-user-select:none;/*webkit浏览器*/ -ms-user-select:none;/*IE10*/ -khtml-user-select:none;/*早期浏览器*/ user-select:none;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
html{height: 100%; overflow: auto; font-family:'Microsoft Yahei'; font-size:14px; line-height:1.4;  -webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
body{background: #fff; min-width:1200px;}
*{outline: none;}
a,a:hover,a:focus{text-decoration:none;}
input, select, textarea{resize:none; overflow:visible;}
table{border-collapse:collapse;border-spacing:0}
li,ol,ul{list-style:none;}
i{font-style:normal;}
b,strong{font-weight:700;}
input[type="submit"], input[type="button"]{-webkit-appearance:none; cursor: pointer; text-decoration: none;}
input[type="button"], input[type="submit"], img{border:0;}
input[type="radio"], input[type="checkbox"]{line-height: normal; vertical-align: -2px;}
input:focus{outline: none;}
input{border-radius: 0px; border: 0; outline: none;}
p{word-wrap: break-word;}
.clearfix{clear:both;overflow:hidden}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both}

/*去除蓝色边框 start*/
*{outline:none!important;}
:focus {outline:none!important;;}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.bootstrap-select .dropdown-toggle:focus{
    outline: none!important;
}
/*去除蓝色边框 over*/
.wrapper{min-width:1200px; margin:0 auto;}
.wrap{width: 1200px; margin: 0 auto;}
.pylogo{margin-top:50px; text-align: center;}
.s-form{width:640px; min-height:35px; margin:10px auto 0;}
.selectMenu{margin-right:8px; width:100px!important;}
.keywordInput{width:450px; border-top-right-radius:0; border-bottom-right-radius: 0;}
.submitBtn{border-top-left-radius: 0; border-bottom-left-radius: 0; border:1px solid #337ab7!important;}
.support{margin-top:100px;}
.support-text{text-align: center; font-size:16px;}
.supportWebs{margin-top:20px;}
.supportWebs ul{width:450px; margin:0 auto; text-align: center;}
.supportWebs ul li{display:inline-block;}
.supportWebs ul li a{display:block; width:112.5px; height:112.5px; background-repeat:no-repeat; background-size:450px 295px; background-image: url(../imgs/web.png); }
.web-weibo{background-position:-225px 0;}
.web-weixin{background-position:-100.5px 0;}
.web-zhihu{background-position:-100.5px -147.5px;}
.alert_noKeyword{position:absolute; top:-60px; left:0; right:0; margin:0 auto; transition: all 0.2s; -webkit-transition: all 0.2s;}
.alert.show{top:10px;}
/*爬虫结果页*/
.header-wrapper{height:70px; border-bottom: 1px solid #ebebeb; position:fixed; top:0; left:0; right:0; background:#fff; /*box-shadow: 0 0 5px #888;*/}
.goIndex{display:block; width:33.3%; float:left; color:#333; line-height:70px;}
.goIndex i{font-size:26px; vertical-align: middle;}
.goIndex span{font-size:18px;}
.center-logo{width:33.3%; position:absolute; top:0; left:0; right:0; margin:0 auto; text-align: center}
.center-logo img{height:70px; }
.content-wrapper{padding:90px 0 20px;}
.show_source_web{font-size:16px;}
.nums {font-size: 12px;color: #999;}
.result_list{margin:20px 0;}
.result_item{margin-bottom:14px; font-size:16px;}
.result_item a{display:block; line-height:1.5; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-decoration: underline;}
.item-msg{font-size:13px; color:#666;}
.item-msg .name{margin-right:20px;}
.content_none{padding:45px 0 12px;}
.nors p { font-size: 18px;  font-family: microsoft yahei;  color: #000;}
.nors p em { color: #c00; font-style:normal;}
.nors .tip_head { color: #666;  font-size: 13px;  line-height: 28px;  }
.nors li {  color: #333;  line-height: 28px;  font-size: 13px;  font-family: '宋体';  padding-left: 30px;  list-style-position: inside; list-style-type: disc;  }
/*分页样式初始化*/
.layui-box, .layui-box *{
    box-sizing: content-box;
}
.layui-laypage {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.layui-laypage>a:first-child, .layui-laypage>a:first-child em{
    border-radius:2px 0 0 2px;
}
.layui-laypage a{
    text-decoration:none;
}
.layui-laypage a, .layui-laypage span{
    display: inline-block;
    vertical-align: middle;
    min-width:20px;
    height: 34px;
    line-height: 34px;
    padding:0 7px;
    text-align: center;
    margin: 0 -1px 5px 0;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    margin-right:5px;
}
.layui-laypage .layui-laypage-spr{
    color: #999;
    font-weight: 700;
}
.layui-laypage a, .layui-laypage button, .layui-laypage input, .layui-laypage select, .layui-laypage span{
    border: 1px solid #e2e2e2;
}
.layui-disabled, .layui-disabled:hover{
    color: #d2d2d2!important;
    cursor: not-allowed!important;
}
.layui-laypage .layui-laypage-curr{
    position: relative;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #337ab7;
}
.layui-laypage .layui-laypage-curr em{
    position: relative;
    color: #fff;
    font-style: normal;
}