<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
     <![endif]-->
    <title>首页</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
</head>
<link >
<body>
    <div class="wrapper">
        <div class="pylogo">
            <img src="{% static 'imgs/dadi.jpg' %}">
        </div>
        <form class="s-form" action="/index-search">
             <div id="selectMenu" class="btn-group selectMenu pull-left">
                <button type="button" id="dropdownBtn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    微博
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">微博</a></li>
                    <li><a href="#">知乎</a></li>
                    <li><a href="#">微信</a></li>
                </ul>
                 <select>
                     <option>11</option>
                     <option>11</option>
                     <option>11</option>
                 </select>
            </div>
            <input type="text" class="form-control keywordInput pull-left" id="keywordInput" placeholder="请输入需要爬取的关键字">
            <input id="submitBtn" class="btn btn-primary submitBtn pull-left" type="submit" value="开始爬取">
        </form>
        <div class="support">
            <p class="support-text">现支持以下网站:</p>
            <div class="supportWebs">
                <ul class="clearfix">
                    <li><a href="https://weibo.com" target="_blank"><img src="{% static 'imgs/weibo.jpg' %}"></a></li>
                    <li><a href="http://weixin.sogou.com" target="_blank"><img src="{% static 'imgs/wechat.jpg' %}"></a></li>
                    <li><a href="https://www.zhihu.com" target="_blank"><img src="{% static 'imgs/zhihu.jpg' %}"></a></li>
                </ul>
            </div>
        </div>
    </div>


<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</body>
</html>