<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>微博搜索</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
</head>
<body>
    <form action="/weibo" method="get">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="text" name="keyword">
        <input type="text" name="starttime">
        <input type="text" name="endtime">
        <input type="submit" value="开始爬取">
    </form>


    <button type="button" class="btn btn-default navbar-btn">开始登陆</button>

    <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
    </button>

</body>
</html>